---
permalink: 'manifest.json'
---
{
    "short_name":"Jordan Cauley",
    "name":"JordanCauley",
    "icons":[
        {
            "src":"https:\//\theformat.app\/unsafe\/https:\/\/avatars2.githubusercontent.com\/u\/1823990?s=512&v=4","sizes":"512x512","type":"image\/webp"
        }
    ],
    "start_url":"https:\/\/jordancauley.dev\/",
    "background_color":"#000000",
    "display":"standalone",
    "theme_color":"#000000"
}