---
permalink: 'manifest.json'
---
{
    "short_name":"Jordan Cauley",
    "name":"JordanCauley",
    "icons":"icons": [
        {
            "src": "\/assets\/icons\/android-chrome-192x192.png",
            "sizes": "192x192",
            "type": "image\/png"
        },
        {
            "src": "\/assets\/icons\/android-chrome-512x512.png",
            "sizes": "512x512",
            "type": "image\/png"
        }
    ],
    "start_url":"https:\/\/jordancauley.dev\/",
    "background_color":"#ffffff",
    "display":"standalone",
    "theme_color":"#ffffff"
}